.marketsites .marketsite {
    background-color: white;
    margin-bottom: 30px;
    font-weight: 300;
    padding: 20px;
    border-radius: 5px;
    color: #adaeb9;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3),
        0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.marketsites .marketsite a {
    display: grid;
    grid-template-columns: minmax(70px, auto) 1fr;
    grid-template-rows: 6px;
    grid-gap: 20px;
    text-decoration: none;
    color: inherit;
}

.marketsite .marketsite__data {
    display: flex;
    flex-direction: column;
}

.marketsite h2 {
    position: relative;
    top: -40px;
    left: -20px;
    font-size: 34px;
    max-width: 150px;
}

.marketsite img {
    width: 40px;
    height: 40px;
    margin-left: 15px;
    margin-top: 14px;
}

.marketsite .marketsite__year {
    color: black;
    font-size: 20px;
    margin: 0;
    font-weight: 450;
}

.marketsite .marketsite__title {
    color: black;
    size: 300px;
    font-size: 24px;
    font-weight: 450;
    margin-bottom: -1px;
}

.marketsite__trustscore,
.marketsite .marketsite__year {
    margin-right: 10px;
    font-size: 15px;
}
