.Link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 8px 12px;
    border-bottom: 1px solid rgb(70, 70, 70);
}

.Link .Home a {
    display: flex;
}

.Link .Home a h2 {
    margin-left: 8px;
    margin-top: 4px;
    font-size: 20px;
}

.Link .Menu a {
    color: rgb(70, 70, 70);
    /* margin-left: 20px; */
    font-size: 18px;
}

.Link .Menu {
    /* margin-right: 50px; */
    display: flex;
    list-style: none;
    padding-left: 0;
}

.Link .Menu li {
    padding: 8px 12px;
}

.Link .Log a {
    color: rgb(70, 70, 70);
    font-size: 80%;
    margin-right: 14px;
}

.body {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

@media screen and (max-width: 375px) {
    .Link {
        flex-direction: column;
        align-items: center;
        /* border-bottom: 1px solid rgb(70, 70, 70); */
    }
    .Link .Menu {
        flex-direction: column;
        align-items: center;
        width: 100px;
    }
    .Link .Menu a {
        color: rgb(70, 70, 70);
        /* margin-left: 20px; */
        font-size: 14px;
    }
    .Link .Log a {
        color: rgb(70, 70, 70);
        font-size: 80%;
        margin-right: 0;
        margin: 0px 4px;
    }
    .Link .Home a {
        margin-right: 20px;
    }
}
